<h1 class="page-title">Edit your information</h1>

<div class="signup row">
  <div class="col-md-3">
    <%= form_for @user do |f| %>
      <%= f.text_field :name, placeholder: "Name" %>
      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.password_field :password_confirmation, placeholder: "Repeat Password" %>
      <%= f.text_field :email, placeholder: "E-mail" %>
      <input type="text" value="<%= @zipcode.zipcode %>" name="zipcode">
      <%#= render "partials/avatar" %>
      <%= f.file_field :avatar %>

      <%= f.submit "Edit", class: "btn btn-submit" %>
      
    <% end %>
  </div>
  <div class="col-md-3">
    <%= link_to "Delete Account", user_path(current_user),class: "btn btn-delete btn-warning", method: :delete, data: {confirm: "Are you sure you want to delete your account? This process is not reversable."} %>
  </div>
<div class="col-md-3 col-md-offset-3">
<a class="btn btn-submit" href="<%= user_path(current_user) %>"><span class="glyphicon glyphicon-chevron-left"></span> Back to Profile</a>
</div>
