<h1>
  <%= @user.name %>
</h1>
<p><%= @user.name %> lives in a <%=link_to @user.climate.climate, climate_path(@user.climate_id)  %> climate, with planting zone <%= @user.climate.zone %>.</p>

<%= link_to "Delete #{@user.name}", :user, method: :delete, data: {confirm: 'Are you sure you want to delete it?'} %>

<%= link_to "See all users", users_path %>
<h3>My Gardens</h3><hr/>
<ul>
<% @user.gardens.each do |g| %>
<li><%= link_to g.name, garden_path(g) %></li>
<% end %>
</ul>

  
