<h1>
  <%= @user.name %>
  <%= link_to "Edit Information", edit_user_path(current_user), class: "btn btn-success" %>

</h1>
<% if @user.avatar.url %>
  <%= image_tag @user.avatar.url, size: "100x100"%>


<%= link_to "Delete #{@user.name}", :user, method: :delete, data: {confirm: 'Are you sure you want to delete it?'}, class: "btn btn-warning" %>
<% end %>


<h3>My Gardens</h3>
<ul>
<% @user.gardens.each do |g| %>
<li><%= link_to g.name, garden_path(g) %></li>
<% end %>
</ul>

  
