<h1>
  <%= @user.first_name %>
  <%= link_to "Edit Information", edit_user_path(current_user), class: "btn btn-success" %>

</h1>
<%= render "partials/avatar" %>



<h3>My Gardens</h3>
<ul>
<% @user.gardens.each do |g| %>
<li><%= link_to g.name, garden_path(g) %></li>
<% end %>
</ul>
<h3><%#= link_to "My Climate Zone Number -- #{current_user.zipcode.climate.zone}", climate_path(current_user.zipcode.climate) %></h3>

<% if @weather["cod"] == "200" %>
Temp high: <%= @weather["list"][0]["temp"]["max"] %><br>
Temp low: <%= @weather["list"][0]["temp"]["min"] %>
<% end %>
<br>

<%= link_to "Delete your account...", :user, method: :delete, data: {confirm: 'Are you sure you want to delete it?'}, class: "btn btn-danger" %>
