<h1>
  <%= @user.name %>
</h1>
<p><%= @user.name %> lives in a <%= @user.climate.climate %> with planting zone <%= @user.climate.zone %>.</p>

<%= link_to "Delete #{@user.name}", :user, method: :delete, data: {confirm: 'Are you sure you want to delete it?'} %>

<%= link_to "See all users", users_path %>

<h3>Plants in this climate:</h3>
  
