<h1>
  <%= @user.first_name %> <%= @user.last_name %>
</h1>
<%= render "partials/avatar" %><%= link_to "Edit Information", edit_user_path(current_user), class: "btn btn-success" %>

<div class="row ">
  <div class="col-md-5 col-md-offset-2">
    <div class="box">
      <h2 class="page-title user-title">My Gardens</h2>
      <% @user.gardens.each do |g| %>
      <p class="temp"><%= link_to g.name, garden_path(g) %></p>
      <% end %>

    </div>
  </div>
  <%#= link_to "My Climate Zone Number -- #{current_user.zipcode.climate.zone}", climate_path(current_user.zipcode.climate) %>
  <div class="col-md-5">
    <div class="box">
      <h2 class="page-title user-title">Weather for <%= @user.zipcode %></h2>
      <% if @weather["cod"] == "200" %>
      <div class="temp">
        <p>Temp high: <%= @weather["list"][0]["temp"]["max"] %></p><br>
        <p>Temp low: <%= @weather["list"][0]["temp"]["min"] %></p>
      </div>
      <% end %>
      <br>
    </div>
  </div>
 
</div>
