<div class="container">
<h1>New Plant</h1>

<%= form_for @plant, {url: garden_plants_path(@garden)} do |g| %>
<div class="signup row">
  <div class="col-md-3">
    <%= g.text_field :name, placeholder: "Name" %><br>
    <%= g.text_field :health, placeholder: "Health"%><br>
    <%= g.collection_select :variety_id, Variety.all, :id, :variety %><br>
    <div class="btn btn-warning btn-variety" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span>Add Variety</div>
  </div>
  <div class="col-md-3">
    <%= g.text_area :notes, placeholder: "Notes", size: "30", class: "notes"  %><br>
    <%= g.submit "Submit", class: "btn btn-submit" %>
 </div>
 <div class="col-md-3">
  </div>
  <div class="col-md-3">
    <a class="btn btn-submit" href="<%= gardens_path %>"><span class="glyphicon glyphicon-th-large"></span> Back to all Gardens</a>
  </div>
<% end %> 
</div>
  
 

</div>