<h1><%= @plant.name %></h1>

<p>Variety: <%= @plant.variety.variety %></p>
<p>Garden: <%= @plant.garden.name %></p>
<p>Health: <%= @plant.health %></p>
<p>Notes: <%= @plant.notes %></p>


<%= link_to "See photos for this plant", plant_photos_path(@plant.id) %><br>



<%= link_to "Add new plant", new_garden_plant_path(@garden) %><br>

<%= link_to "Back to garden", garden_path(@garden) %><br>

