<h1 class="page-title"><%= @plant.name %></h1>

<%= form_for @plant, {url: garden_plants_path(@garden)} do |f| %>
  <div class="signup row">
    <div class="col-md-3">

      <p>Garden: <%= @plant.garden.name %></p><br>
      <p>Health: <%= @plant.health %></p><br>
      <p>Notes: <%= @plant.notes %></p><br></div>
    <div class="col-md-3 col-md-offset-6">
      <a class="btn btn-submit" href="<%= garden_path(@garden) %>"><span class="glyphicon glyphicon-th-large"></span> Back to <%= @garden.name %></a>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-">
          <%= link_to "See photos", plant_photos_path(@plant.id), class: "btn btn-submit" %>
        </div>
        <div class="col-md-4">
          <%= link_to "Add photo", new_plant_photo_path(@plant.id), class: "btn btn-submit" %>
        </div>
        <div class="col-md-4">
          <%= link_to "Add health status", new_health_path, class: "btn btn-submit" %>
        </div>
    </div>
  <!--   end variety selector --> 
  </div>
  <%= render "partials/photoIndex" %>
  
<% end %> 

