<div class="container">
<% if current_user %>
<h3><%= current_user.name %>'s Gardens:  <%= link_to "Add a new garden", new_garden_path, class: "btn btn-submit" %></h3>
  <div class="row-fluid row">
    <% @gardens.each do |g| %>
      <% if g.user == current_user %>
        <a class "garden_container" href="<%= garden_path(g) %>">

          <div class="col-md-4 text-center container-fluid garden_box">

            <div class="garden_title">
              <a class="btn btn-garden" href="<%= garden_path(g) %>">
                <%= g.name.upcase %>
              </a>
            </div>
            
            <div class="garden">
              <a class="btn btn-lg" href="<%= garden_path(g) %>">View Garden</a>
              <a class="btn btn-lg" href="<%= new_garden_plant_path(g) %>">Add Plant</a>
            </div>

          </div>
        </a>

      <% end %>
    <% end %>
  </div>
  <% end %>
</div>
