<h1 class="page-title">Tell me about your garden</h1>

<div class="signup row">
  <div class="col-md-3">
      <%= form_for @garden do |f| %>
      <%= f.text_field :name, placeholder: "Name" %>
      <%= f.text_field :shade, placeholder: "Shade" %>
      <%= f.select :season, [["Spring",0],["Summer",1],["Fall",2],["Winter",3]]%>
      <%= f.submit "Make Garden", class: "btn btn-submit" %>
    <% end %> 
  </div>
<div class="col-md-3 col-md-offset-6">
  <a class="btn btn-submit" href="<%= gardens_path %>"><span class="glyphicon glyphicon-th-large"></span> Back to all Gardens</a>
</div>
