<h1>Tell me about your garden</h1>

<%= form_for @garden do |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.text_field :shade, placeholder: "Shade" %>
  <%= f.collection_select :season_id, Season.all, :id, :season%>
  <%= f.submit "Make Garden" %>
  
<% end %> 

<%= link_to "See all your gardens ", gardens_path %>
