<h1 class="page-title">Tell me about your garden</h1>

<div class="signup row">
  <div class="col-md-3">
      <%= form_for @garden do |f| %>
      <%= f.text_field :name, placeholder: "Name" %>
      <%= f.select :shade, [["Full Sun"],["Partial Shade"],["Full Shade"],["Deep Shade"]], {}, {name: "shade"} %>
      <%= f.select :season, [["Spring"],["Summer"],["Fall"],["Winter"]], {}, {name: "season"} %>
  
      <%= f.submit "Make Garden", class: "btn btn-submit" %>
    <% end %> 
  </div>
<div class="col-md-3 col-md-offset-6">
  <a class="btn btn-submit" href="<%= gardens_path %>"><span class="glyphicon glyphicon-th-large"></span> Back to all Gardens</a>
</div>
