<h1 class="page-title">My <%= @garden.name %><%= " Garden" if @garden.name.split(" ").last.downcase != "garden" %>
</h1>
<div class="row sidebar-row">
  <div class="col-md-3">
    <%= link_to "Add new plant", new_garden_plant_path(@garden), class: "btn btn-submit btn-lg"  %>
    <%= link_to "Back to all gardens", gardens_path, class: "btn btn-submit btn-lg" %>
  </div>
<!--   display all gardens -->
  <% @garden.plants.each do |p| %>
    <div class="col-md-6 col-md-offset-1" ng-mouseenter="hover()" ng-mouseleave="unhover()">
      <div class="text-row" >
        <div class="text-center row">
          <a class="plant-text"  href="<%= garden_plant_path(@garden, p.id) %>"><%= p.name %></a>
          <div class="plant-hover" ng-show="hover" ng-hide="hover != true">
            <a href="<%= edit_plant_path(p) %>">Edit</a>
            <a href="<%= new_note_path %>">Add Status Update</a>
          </div>
        </div>
      </div>  
    </div>
  <% end %>
</div>
  


