<h1 class="page-title">My <%= @garden.name %><%= " Garden" if @garden.name.split(" ").last.downcase != "garden" %>
</h1>
<div class="row sidebar-row">
  <div class="col-md-3">
    <%= link_to "Add new plant", new_garden_plant_path(@garden), class: "btn btn-submit btn-lg"  %>
    <%= link_to "Back to all gardens", gardens_path, class: "btn btn-submit btn-lg" %>
  </div>

  <% @garden.plants.each do |p| %>
    <div class="col-md-9">
      <div class="text-row">
        <div class="text-center">
          <a class="plant-text" href="<%= garden_plant_path(@garden, p.id) %>"><%= p.name %></a>
        </div>
      </div>  
    </div>
  <% end %>
</div>
  


