<h1> New Photos </h1>
<div class="signup">
  <%= form_for @photo , {url: plant_photos_path(@plant)} do |f| %>
  <%= f.file_field :image, class: "photo-upload" %>
  <%= f.text_field :tags, placeholder: "Add Photo Tags" %>
  <%= f.submit "Submit", class: "btn btn-submit" %>
  <% end %>
</div>

<a class="btn btn-submit" href="<%= gardens_path %>"><span class="glyphicon glyphicon-th-large"></span> Back to Plant</a>