<!DOCTYPE html>
<html>
<head>
  <title>My Garden</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
   <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Dosis", rel: 'stylesheet', type:'text/css' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      <header class="header_element row">
      <div class="col-xlg-4"><%= link_to (image_tag "/assets/white_leaf.png", :id => "top_icon"), root_path %></div>
      <div class="col-xlg-1 page_title">Well Rooted</div>
      <div class="col-xlg-1 col-md-offset-10"><%= button_to "Log In", new_session_path, :method => :get, :class => "btn btn-primary" if !current_user %></div>
      <% if current_user %>
       <div class="col-xlg-1 col-md-offset-10"><%= link_to "Log Out", session_path, :class => "btn btn-warning", method: :delete if current_user%></div>
      <% end %>
    </header>

    <div class="sun">
    </div>
    <footer class="grass">
    </footer>
    <footer class="dirt">
    </footer>
  </div>
  <div class="content">
   <div class="container">

  <% if current_user || @is_login == true %>

    <%= yield %>

  <% else %>

    <h1> you have to log in! </h1>

  <% end %>
  </div>
  </div>

</body>
</html>
