<!DOCTYPE html>
<html ng-app="gardenApp">
<head>
  <title>Well Rooted</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.js"></script>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro|Poiret+One|Lobster|Muli|Pacifico", rel: 'stylesheet', type:'text/css' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="gardenCtrl">

  <%= render "partials/sidenav" %>

  <% if current_user || @is_login == true || @is_signup == true%>

    <div class="container">
     <%= yield %>
    </div>

  <% else %>

    <%= render 'partials/welcome' %>

  <% end %>
  </div>

</body>
</html>
