<!DOCTYPE html>
<html>
<head>
  <title>My Garden</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      <header class="header_element">
      <div><a href="index.html"><img id="top_icon" src="/assets/white_leaf.png"></a></div>
      <div><p class="page_title">Well Rooted</p></div>
      <div><%= button_to "Sign Up", new_user_path, :id => "sign_in", :method => :get %></div>
    </header>

    <div class="sun">
    </div>
    <footer class="grass">
    </footer>
    <footer class="dirt">
    </footer>
  </div>
  <div class="content">
   <div class="container">


    <% if current_user %>
      Welcome, <%= current_user.name %>!
      <%= link_to "Log out", session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_path if !@is_signup %>
      <%= link_to "Log in", new_session_path if !@is_login%>
    <% end %>
    <%= yield %>
  </div>
  </div>

</body>
</html>
