<!DOCTYPE html>
<html>
<head>
  <title>My Garden</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
   <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Dosis", rel: 'stylesheet', type:'text/css' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
  <%= render "partials/sidenav" %>
  <% if current_user || @is_login == true || @is_signup == true%>

  <div class="container-fluid">

  <%= render "partials/sidenav" %>
    <%= yield %>
</div>
  </div>

  <% else %>
    <%= render 'partials/welcome' %>

  <% end %>
  </div>
  </div>

</body>
</html>
